@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-white: #f0f0f0;

    --font-poppins: 'Poppins', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}