@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-white: #f0f0f0;

    --font-poppins: 'Poppins', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* NAVBAR */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-red);
    box-shadow: 0px 3px 0px 0px var(--main-gray);
}

#link-wrapper {
    display: flex;
}

.link {
    display: block;
    text-decoration: none;
    color: var(--main-white);
    font-family: var(--font-poppins);
    font-size: clamp(2rem, 5vw, 4rem);
    padding: clamp(1rem, 3vw, 1.5rem);
}

.link:hover {
    background-color: var(--main-blue);
}

#logo {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: clamp(5rem, 10vw, 8.3rem);
}

/* WELCOME SECTION */
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--main-gray);
}

#welcome-section > ::selection {
    color: white;
    background-color: tomato;
}

#welcome-section-header {
    color: var(--main-white);
    font-family: var(--font-raleway);
    font-size: clamp(2.5rem, 7vw, 8rem);
}

#welcome-section-header_2 {
    font-weight: 400;
    font-style: italic;
    color: var(--main-red);
    font-family: var(--font-poppins);
    font-size: clamp(2rem, 4vw, 6rem);
}

/* PROJECTS */
#projects {
    height: auto;
    background-color: var(--main-blue);
    padding-top: clamp(9rem, 10vw, 15rem);
}

#projects-header {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: var(--main-white);
    font-family: var(--font-raleway);
    font-size: clamp(2rem, 5vw, 7rem);
    margin-bottom: clamp(4rem, 5vw, 10rem);
    padding-bottom: clamp(0rem, 1vw, 1rem);
    border-bottom: 5px solid var(--main-white);
}

.grid-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-tile {
    flex-grow: 1;
    flex-shrink: 1;
    height: fit-content;
    width: clamp(30rem, 20vw, 60rem);
}

.project-tile img {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    border: 3px solid var(--main-gray);
}